{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Azure Polls administration') }}</a></h1>
{% endblock %}




<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v23_31">
        <div class="v23_32">
            <div class="v23_218"><span class="v23_219">vizAI</span>
                <div class="name"></div>
                <div class="name"></div>
            </div><span class="v23_34">Features</span><span class="v23_35">Information</span><span
                class="v23_36">Community</span><span class="v23_37">Examples</span>
            <div class="v23_215">
                <div class="v23_216"></div><span class="v23_217">Register</span>
            </div>
            <div class="v23_212">
                <div class="v23_213"></div><span class="v23_214">Log in as Management</span>
            </div>
            <div class="v41_0">
                <div class="v41_1"></div><span class="v41_2">Log in as Data Scientist</span>
            </div>
        </div>
        <div class="v23_40">
            <div class="v23_210">
                <div class="v23_211"></div>
            </div>
            <div class="v23_208"><span class="v23_209">Visualising Explainable AI</span></div>
            <div class="v23_205">
                <div class="v23_206"></div><span class="v23_207">Join Today</span>
            </div>
            <div class="v23_202">
                <div class="v23_203"></div>
                <div class="name"></div>
            </div>
        </div>
        <div class="v23_45"><span class="v23_46">New to AI? vizAI’s got you covered.</span><span
                class="v23_47">Information on Avanade4</span><span class="v23_48">Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est.</span>
            <div class="v23_199">
                <div class="v23_200"></div><span class="v23_201">Learn more</span>
            </div>
            <div class="v23_196">
                <div class="v23_197"></div><span class="v23_198">Learn more</span>
            </div>
            <div class="v23_193">
                <div class="v23_194"></div><span class="v23_195">Learn more</span>
            </div>
            <div class="v23_190">
                <div class="v23_191"></div><span class="v23_192">Learn more</span>
            </div><span class="v23_53">What is AI?</span><span class="v23_54">Amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi.</span><span class="v23_55">Our objectives</span><span
                class="v23_56">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.</span><span class="v23_57">How can you contribute?</span><span class="v23_58">Eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora.</span>
        </div>
        <div class="v23_59">
            <div class="v23_188">
                <div class="v23_189"></div>
            </div><span class="v23_61">Example of Dataset 2</span><span class="v23_62">Provide brief overview of dataset
                analysis, allow users to view detailed infographics as our second key functionality
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</span>
        </div>
        <div class="v23_63">
            <div class="v23_186">
                <div class="v23_187"></div>
            </div>
            <div class="v23_184">
                <div class="v23_185"></div>
            </div>
            <div class="v23_182">
                <div class="v23_183"></div>
            </div>
            <div class="v23_180">
                <div class="v23_181"></div>
            </div>
            <div class="v23_178">
                <div class="v23_179"></div>
            </div>
            <div class="v23_176">
                <div class="v23_177"></div>
            </div>
            <div class="v23_174">
                <div class="v23_175"></div>
            </div>
            <div class="v23_172">
                <div class="v23_173"></div>
            </div>
            <div class="v23_72"><span class="v23_73">More dataset examples</span><span class="v23_74">A collation of
                    datasets we’ve collected and analyzed for your viewing pleasure.</span></div>
        </div>
        <div class="v23_75"><span class="v23_76">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore</span>
            <div class="v23_169">
                <div class="v23_170"></div><span class="v23_171">Join Today</span>
            </div>
            <div class="v23_166">
                <div class="v23_167"></div><span class="v23_168">Contact us</span>
            </div>
        </div>
        <div class="v23_79"><span class="v23_80">Mobile app</span><span class="v23_81">© vizAI, inc. 2020. Spreading AI
                awareness.</span>
            <div class="v23_164">
                <div class="v23_165"></div>
            </div>
            <div class="v23_162">
                <div class="v23_163"></div>
            </div>
            <div class="v23_160">
                <div class="v23_161"></div>
            </div>
            <div class="v23_158">
                <div class="v23_159"></div>
            </div><span class="v23_86">Community</span><span class="v23_87">Company</span><span class="v23_88">Help
                desk</span><span class="v23_89">Blog</span><span class="v23_90">Resources</span>
            <div class="v23_150"><span class="v23_151">vizAI</span>
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="v23_92"></div>
        </div>
        <div class="v23_93">
            <div class="v23_148">
                <div class="v23_149"></div>
            </div><span class="v23_95">Example of Dataset 1</span><span class="v23_96">Provide brief overview of dataset
                analysis, allow users to tweak hyperparameters as one of first key functionality.

                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</span><span
                class="v23_97">Provide brief overview of dataset analysis, allow users to tweak hyperparameters as one
                of first key functionality.

                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</span>
        </div>
    </div>
</body>


{% block nav-global %}{% endblock %}