<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

{% load static %}
<link href="{% static 'css/home.css'%}" rel="stylesheet">
    <!-- Favicons -->
    <link href="{% static  'img/favicon.png' %}" rel="icon">
    <link href="{% static  'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index">vizAI</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index" class="logo me-auto"><img src="{% static  'img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Techniques</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="portfolio-img"><img src="{% static 'img/portfolio/nba.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="swiper-pagination"></div>
            </div>
                        <div class="portfolio-description">
                        
                          <h2>This dataset focuses on the prediction of age/height/weight distributions of NBA players.</h2>
                        
                          <p>
                            The data set contains over two decades of data on each player who has been part of an NBA teams' roster. It captures
                            demographic variables such as age, height, weight and place of birth, biographical details like the team played for,
                            draft year and round. In addition, it has basic box score statistics such as games played, average number of points,
                            rebounds, assists, etc.
                            
                            The pull initially contained 52 rows of missing data. The gaps have been manually filled using data from Basketball
                            Reference. I am not aware of any other data quality issues.
                        </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Title</strong>: Ideal NBA Player Physical Characteristics </li>
                <li><strong>Owner</strong>: Dylan </li>
                <li><strong>Project date</strong>: 01 March, 2021</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/deCourier/vizAI/tree/main/Final%20Test%20Models/nba">GitHub</a></li>
                
              </ul>
            </div>
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
              <li><strong>Characteristics</strong>: Multivariate with 2235 number of instances </li>
              <li><strong>Technique</strong>: Classification </li>
              <li><strong>Hyperparameters</strong>: Tabular, 32 batch size,
                6/10 Learning Rates, 25 Number of Epochs </li>
              <li><strong>Accuracy</strong>: 90% </li>
              <li><strong>Appendices</strong>: PPG(Points Per Game), MPG(Minutes Per Game), Age, RPG(Rebounds Per Game) </li>
            
              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>vizAI</h3>
            <p>
              University College London <br>
              Gower St, Bloomsbury, London WC1E 6BT<br>
              United Kingdom <br><br>
              <strong>Phone:</strong> +44 20 7679 2000<br>
              <strong>Email:</strong> zcabdho@ucl.ac.uk<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/deCourier/vizAI">Github</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Development Blog</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static  'js/main.js' %}"></script>

</body>

</html>